<div class="blog-post-title">
    <h2><%= link_to blog.title, blog %></h2>
</div>
<div class="blog-post-meta">
    <div class="row">
        <div class="col col-md-6">
            <p>Published <%= distance_of_time_in_words(blog.created_at, Time.now)  %> ago</p>
        </div>
        <div class="col col-md-6">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <%= link_to fa_icon("pencil-square-o"), edit_blog_path(blog), class: "breadcrumb-item"  if logged_in?(:site_admin) %>
                <%= link_to fa_icon("trash"), blog, method: :delete, data: { confirm: 'Are you sure?' }, class:"breadcrumb-item" if logged_in?(:site_admin)  %>
                <%= link_to blog.status, toggle_status_blog_path(blog), class: "breadcrumb-item" if logged_in?(:site_admin) %>
              </ol>
            </nav>
        </div>
    </div>

</div>
<p><%= blog.body %></p>
