<div class="col-md-8 blog-main">
    <div class="blog-post">
        <div class="blog-post-title">
            <h2><%= @blog.title %></h2>
        </div>
        <div class="blog-post-meta">
            <div class="row">
                <div class="col col-md-4">
                    <p>Published <%= distance_of_time_in_words(@blog.created_at, Time.now) %> ago</p>
                </div>
                <% if logged_in?(:site_admin) %>
                    <div class="col col-md-2">
                        <p><%= link_to @blog.status, toggle_status_blog_path(@blog) %></p>
                        <p><%= link_to 'Edit', edit_blog_path(@blog)  %></p>
                        <p><%= link_to 'Destroy', @blog, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                    </div>
                <% end %>
            </div>

        </div>
            <p><%= @blog.body %></p>
    </div>


    <%= link_to 'Edit', edit_blog_path(@blog)  if logged_in?(:site_admin) %> 
    <%= link_to 'Back', blogs_path %>
</div>
