<h1>Portfolio items</h1>
<ul>
<%= @portfolio_items.each do |p|  %>
	<li><%= p.title %></li>
	<li><%= p.subtitle %></li>
	<li><%= p.body %></li>
	<%= image_tag p.thumb_image if !p.thumb_image.nil? %>
<% end %>
</ul>
