<div class="card">
    <div class="card-header">
        <h1>About me</h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col col-md-6">
                <%= image_tag "Profile.jpg", width: 300, alt: "profile picture Torstein Eliassen" %>
                <div class="skills">
                    <% @skills.each do |skill| %>
                        <div class="skill">
                            <h5><%= skill.title %></h5>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning"
                                     role="progressbar"
                                     aria-valuenow="<%= skill.percent_utilized %>"
                                     aria-valuemax="100"
                                     style="width: <%= skill.percent_utilized %>%"
                                     >
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="col col-md-6">
                <p>My name is Torstein Ørbeck Eliassen. I am 22 years old and currently studying Cybernetics and Robotics at NTNU, the Norwegian University of Science and Technology. I am born in Bærum and for my high school education, I moved to Rouen, France as a part of the Norwegian Section at Lycée Pierre Corneille. After returning from France, I served my Military Service in the Band and Drill company of His Majesty the King’s Guard. Here, I was a musician, playing the bugle and performing nationwide in addition to military tattoos in Malmø, Sweden and Basel, Switzerland. </p>

                <p>In my spare time, I am active in the NTNUI Athletics Group where I run twice a week, in addition to other activities such as hiking and skiing. I also enjoy climbing and I have played the trumpet since I was a young child.</p>
                <button
                    class="btn btn-secondary active font-weight-bold"
                    type="button"
                    data-toggle="collapse"
                    data-target="#secondParagraph"
                    aria-expanded="false"
                    aria-controller="secondParagraph"
                >
                Job History and CV
                </button>
            </div>
        </div>
    </div>
</div>
<div class="collapse" id="secondParagraph">
    <div class="card">
        <div class="card-header">
            <h3>Job History and CV</h3>
        </div>
        
        <div class="card-body"> 
            <ul>
                <li><%= link_to "Autumn 2018-present: Teaching assistant at the Department of Computer Science, NTNU ", "https://www.ntnu.edu/idi" %></li>
                <li><%= link_to "Summer 2019: Intern at Disruptive Technologies Research AS", "https://www.disruptive-technologies.com/" %></li>
                <li><%= link_to "Summer 2018: Course leader at the Scientist Factory", "https://www.forskerfabrikken.no/" %></li>
                <li><%= link_to "2016-2017: Military service, musician in His Majesty the King's Guard band and drill unit", "https://musikkogdrill.com/" %></li>
                <li><%= link_to "Summer 2016: Shop assistant at Holmenkollen Ski museum and Tower", "https://www.skiforeningen.no/holmenkollen/skimuseet/" %></li>
                <li><%= link_to "Summer 2015: Nursing assistant at Stabæktunet Nursing Home", "https://www.baerum.kommune.no/tjenester/helse-og-omsorg/sykehjem-bo-og-behandlingssenter/stabaktunet-bo--og-behandlingssenter/" %></li>
            </ul>
            <div class="card-footer font-weight-bold">
                <%= link_to "My cv", "CV-Torstein-Eliassen-2019-English-no-ref.pdf"  %>
            </div>
        </div>
    </div>
</div>
