
<!DOCTYPE html>
<html>
  <head>
      <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container">
          <%= render "blog_header" %>
          <%= render "shared/blog_nav"%>
          <hr>
          <%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
          <hr>
          <div class="row">
            <%= yield %>
            <%= render "shared/blog_sidebar" %>
          </div>
      </div>
      <%= source_helper("blogs") %>
      <div class="blog-footer">
        <%= render "shared/application_footer" %>
      </div>
  </body>
</html>
