<!DOCTYPE html>
<html>
  <head>
      <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <%= favicon_link_tag "favicons/favicon.ico" %>
    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville&display=swap" rel="stylesheet"> 
  </head>

  <body>
    <%= render "shared/portfolio_header" %>

<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <%= yield %>
        </div>
    </div>
</main>
<footer class="text-muted">
  <div class="container">
      <%= render "shared/application_footer" %>
  </div>
</footer>

</body>
</html>
